<header>
  <div class="profile-page sidebar-collapse">
    <app-navbar></app-navbar>
  </div>
</header>
<div class="page-content">
  <div>
    <div class="profile-page">
      <div class="wrapper">
        <div class="page-header page-header-small" filter-color="green">
          <div class="page-header-image" data-parallax="true"
            style="background-image: url('assets/images/cc-bg-1.jpg');"></div>
          <div class="container">
            <div class="content-center">
              <div class="cc-profile-image"><a href="#"><img src="assets/images/anthony.jpg" alt="Image" /></a></div>
              <div class="h2 title">Anthony Barnett</div>
              <p class="category text-white">Web Developer, Graphic Designer, Photographer</p><a
                class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in"
                data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" href="#" data-aos="zoom-in"
                data-aos-anchor="data-aos-anchor">Download CV</a>
            </div>
          </div>
          <div class="section">
            <div class="container">
              <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip"
                  title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a
                  class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip"
                  title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a
                  class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip"
                  title="Follow me on Google+"><i class="fa fa-google-plus"></i></a><a
                  class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip"
                  title="Follow me on Instagram"><i class="fa fa-instagram"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <app-about></app-about>
    <app-skill></app-skill>
    <app-portfolio></app-portfolio>
    <app-experience></app-experience>
    <app-education></app-education>
    <app-contact></app-contact>
    
  </div>
</div>
<footer class="footer">
  <div class="container text-center"><a class="cc-facebook btn btn-link" href="#"><i class="fa fa-facebook fa-2x "
        aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " href="#"><i class="fa fa-twitter fa-2x "
        aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" href="#"><i class="fa fa-google-plus fa-2x"
        aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" href="#"><i class="fa fa-instagram fa-2x "
        aria-hidden="true"></i></a></div>
  <div class="h4 title text-center">Anthony Barnett</div>
  <div class="text-center text-muted">
    <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com"
        target="_blank">TemplateFlip</a></p>
  </div>
</footer>